<section class="bg-primary" id="{{ page.sections[0] | slugify }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ site.title }}</h2>
                <hr class="light">
				<p class="text-faded">Some yay! text</p>
                <p class="text-faded">Two logos come here</p>
                <a href="#{{ page.sections[1] | slugify }}" class="btn btn-default btn-xl">More!</a>
            </div>
        </div>
    </div>
</section>
