{% for section in page.sections %}{% if section.name == 'Contact' %}{% assign thisSection = section %}{% endif %}{% endfor %}
<section id="contact">
    <div class="container">
        <div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 text-center">
			<h2 class="section-heading">{{ thisSection.heading }}</h2>
			<hr class="primary">
			<p>{{ thisSection.content }}</p>
		</div>
        <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 text-center">
            <a class="text-primary" style="text-decoration:none;" href="mailto:{{site.email}}">
            <i class="fa fa-envelope-open fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Email<br>{{site.email}}</p>
            </a>
        </div>
        <!-- <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Instagram</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-something-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Meetup</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.facebook.com/{{ site.github_username }}">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Facebook</p>
            </a>
        </div> -->
    </div>
</section>
<div class="container-fluid">
	<div class="row">
        <div class="col-xs-12 text-right">
            <p>Copyright © 2018</p>
        </div>
    </div>
</div>