<footer class="page-footer pt-0 pb-0 transparent"><div class="container has-text text-small">© {{ site.time | date: '%Y' }} Copyright Text</div></footer>
<script>
    window.addEventListener("load",function(){
        document.querySelector("section#intro-content").style.transform = 'translateY(0%)'
        document.querySelector("section#intro-content").classList.add('active');
        setTimeout(function(){
            let script = document.createElement("script");
            script.src = "{{ site.cdn }}/combine/{{ site.git }}/js/scripts.min.js,{{ site.git }}/js/three.min.js";
            script.onload = function(){ initFuctions() };
            script.crossorigin = "anonymous";
            document.head.appendChild(script);
        }, 1500)
    });
</script>