{% for section in sections %}{% if section.name == 'Gallery' %}{% assign thisSection = section %}{% endif %}{% endfor %}
{% assign count = 0 %}
{% assign image_files = site.static_files | where: "image", true %}
<section class="no-padding" id="gallery">
    <div class="container-fluid">
        <div class="row no-gutter">
			{% for galleryimage in image_files %}
			{% assign count = count | plus: 1 %}
			<div class="col-lg-4 col-sm-6 {% if count > 6 %}hidden{% endif %}">
                <a href="#" class="portfolio-box">
                    <img src="{{ galleryimage.path }}" class="img-responsive" alt="">
                </a>
            </div>
			{% endfor %}
        </div>
    </div>
</section>