<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/styles.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ site.title }}</title>
    <meta type="description" value="{{ site.description }}" />
    <script>(()=>{ if( (new Date()).getHours() < 6 || (new Date()).getHours() > 18 ) document.getElementsByTagName('html')[0].classList.add('dark') })();</script>
    <script type='application/ld+json'> 
        {
            "@context": "http://www.schema.org",
            "@type": "person",
            "name": "Himanshu C Reddy",
            "jobTitle": "Marketer & Digital Strategist",
            "url": "https://www.himanshucr.com",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "1106, Tower 11 LH, Lanco Hills Apartments, Manikonda",
                "addressLocality": "Hyderabad",
                "addressRegion": "Telangama",
                "postalCode": "500089",
                "addressCountry": "India"
            },
            "email": "himanshucr@outlook.com"
        }
    </script>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLNRM2P');</script>
    <!-- End Google Tag Manager -->
</head>