<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ site.title }}</title>
    <link rel="dns-prefetch" href="https://type.fit/">
    <meta name="description" content="{{ site.description }}" />
    <script>(()=>{ if( (new Date()).getHours() < 6 || (new Date()).getHours() > 18 ) document.getElementsByTagName('html')[0].classList.add('dark') })();</script>
    <link rel="preload" as="style" href="./css/main.css" />
    <link type="text/css" rel="stylesheet" href="./css/main.css" />
    <script type='application/ld+json'> 
        {
            "@context": "http://www.schema.org",
            "@type": "person",
            "name": "Himanshu C Reddy",
            "jobTitle": "Marketer & Digital Strategist",
            "url": "https://www.himanshucr.com",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "1106, Tower 11 LH, Lanco Hills Apartments, Manikonda",
                "addressLocality": "Hyderabad",
                "addressRegion": "Telangama",
                "postalCode": "500089",
                "addressCountry": "India"
            },
            "email": "himanshucr@outlook.com"
        }
    </script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.cdn }}/{{ site.git }}/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.cdn }}/{{ site.git }}/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.cdn }}/{{ site.git }}/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.cdn }}/{{ site.git }}/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.cdn }}/{{ site.git }}/images/favicons/favicon-512x512.png" sizes="512x512">
    <link rel="shortcut icon" href="{{ site.cdn }}/{{ site.git }}/images/favicons/favicon.ico">
    <meta name="msapplication-TileImage" content="{{ site.cdn }}/{{ site.git }}/images/favicons/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#00aba9">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.gtm }}');</script>
    <!-- End Google Tag Manager -->
</head>