<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/styles.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Himanshu C Reddy - Marketer | Digital Transformation Specialist</title>
    <script>(()=>{ if( (new Date()).getHours() < 6 || (new Date()).getHours() > 18 ) document.getElementsByTagName('html')[0].classList.add('dark') })();</script>
</head>