<section id="intro-content" class="valign-wrapper">
	<div class="container">
		<div class="row">
			<div class="col s8">
				<p class="has-text bold text-xxlarge mt-2 mb-2">Hi, I'm Himanshu</p>
				<p class="has-text bold text-xlarge caps mt-1 mb-1">I'm a markerter & digital transformation specialist</p>
				<p class="has-text bold text-large mt-1 mb-1">I'm also a nice guy :)</p>
			</div>
			<div class="col s4">
				
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span class="scrollTo has-text caps">Scroll To See More</span>
			</div>
		</div>
	</div>
</section>