<section id="intro-content" class="active" style="z-index:3;">
	<div class="container">
		<div class="content-for-intro">
			<p class="has-text text-medium mt-2 mb-2">Hi there, I'm..</p>
			<h1 class="has-text bold text-xxlarge mt-2 mb-2" style="font-size: clamp(5vh,5vw,9vh)!important;"><mark>Himanshu</mark></h1>
			<p class="has-text bold text-medium caps mt-1 mb-1">Markerter<br>Digital Strategist<br>Blockchain Enthusiast</p>
			<p class="has-text text-medium mt-1 mb-1">I'm also a nice guy :)</p>
		</div>
	</div>
</section>