<section id="about-me-content">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="has-text text-large caps bold">About Me</h1>
            </div>
            <div class="col s12">
                <p class="has-text description text-medium">I'm a marketing professional who has been promoting brands and transforming traditional business models into digital from Day 1 of my career. I'm self motivated and a strong advocate of data driven decision making. I gel well with anyone and excel at working in and with multiple teams in parallel. I also have a habit of learning two new things everyday - this has helped me understand a lot of subjects plus pickup skills throught out the years.</p>
                <p class="has-text description text-medium">I'm currently freelancing as an E-Commerce Consultant & a Web Apps developer, helping merchants all over the globe in the e-commerce journey through SEO, brand building and automating operations.</p>
                <p class="has-text description text-medium">Before I picked up this stint as a freelancer, I was the Digital Marketing lead at <a href="https://www.apollo247.com/" taget="blank">Apollo247</a>, the digital arm of Apollo Hospitals Group - India's Largest Healthcare player. I was one of the 4 people that were picked by Apollo to work with the folks from <a href="https://www.mckinsey.com/in" target="_blank">McKinsey & Co.</a> in strategizing and launching this digital healthcare project. I was also part of the team that launched <a href="https://www.oneapollo.com" target="blank">OneApollo Program</a> at Apollo, involved in designing the program and leading marketing and its country-wide launch.</p>
                <p class="has-text description text-medium">Before my 3 <sup>1</sup>/<sub>2</sub> years at Apollo, I was the Product Manager at <a href="https://www.tallengestore.com" target="_blank">Tallenge Store</a> for over 2 <sup>1</sup>/<sub>2</sub> years at my first ever job. While here, I launched India's largest online store for Art Prints with over 1 million SKUs and developed an automated marketing system.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="scrollTo has-text caps">Scroll To See More</span>
            </div>
        </div>
    </div>
</section>