<nav id="nav-header" class="mt-0 mb-0">
    <div class="container">
        <div class="nav-wrapper">
            <div id="nav-logo">
                <a href="#" class="left pos-rel brand-logo">
                    <img src="images/logo-64.jpg" srcset="images/logo-128.jpg 2x" alt="Himanshu C Reddy" onclick="return;" class="circle responsive-img">
                </a>
            </div>
            <div id="nav-links" style="display: flex;grid-column-gap: 25px;align-items: center;">
                <a class="has-text caps bold text-medium" href="sass.html">Home</a>
                <a class="has-text caps bold text-medium" href="badges.html">About Me</a>
                <a class="has-text caps bold text-medium" href="collapsible.html">My Work</a>
                <a class="has-text caps bold text-medium" href="collapsible.html">My Interests</a>
            </div>
        </div>
    </div>
</nav>