<nav id="nav-header" class="mt-0 mb-0">
    <div class="container" style="display: flex;align-items: center;justify-content: space-between;">
        <div id="nav-logo">
            <a class="has-text caps bold text-large" title="Himanshu C Reddy" alt="Himanshu C Reddy" href="../.">Himanshu<span class="invert">.</span></a>
        </div>
        <div id="nav-links-container">
            <div id="nav-links">
                <a class="has-text caps text-small" title="Home" alt="Home" href="#intro-content">Home</a>
                <a class="has-text caps text-small" title="About" alt="About" href="#about-content">About</a>
            </div>
        </div>
        <div id="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
<aside id="scroll-level-holder"><div id="scroll-level"></div></aside>