<div class="progress mt-0 mb-0 v-hidden"><div class="indeterminate"></div></div>
<nav class="transparent z-depth-0 mt-0 mb-0 valign-wrapper">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="left pos-rel brand-logo">
                <img src="images/logo-64.jpg" srcset="images/logo-128.jpg 2x" alt="Himanshu C Reddy" onclick="return;" class="circle responsive-img">
            </a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a class="has-text caps bold text-medium" href="sass.html">Home</a></li>
                <li><a class="has-text caps bold text-medium" href="badges.html">About Me</a></li>
                <li><a class="has-text caps bold text-medium" href="collapsible.html">My Work</a></li>
                <li><a class="has-text caps bold text-medium" href="collapsible.html">My Interests</a></li>
            </ul>
        </div>
    </div>
</nav>