{% assign section = site.index.about %}
<section id="about-content" style="z-index:2;">
    <div class="section-content">
        <div class="container">
            <div class="content-for-about">
                <div id="exp-years-holder">
                    <p class="has-text bold mt-2 mb-2" style="font-size: clamp(20vh,20vw,30vh);">{{ site.time | date: '%Y' | minus: 2014 }}</p>
                    <p class="has-text bold text-medium caps mt-1 mb-1">Years</p>
                    <p class="has-text bold text-medium caps mt-1 mb-1">Working</p>
                    <p class="has-text bold text-medium caps mt-1 mb-1">Experience</p>
                </div>
                <div id="exp-expertise-holder">
                    <h2 class="has-text bold text-xlarge mt-2 mb-2">Expertise</h2>
                    {% for expertise in section.expertise %}
                    <h3 class="has-text text-large mt-2 mb-1">{{ expertise.name }}</h3>
                    <div class="expertise-bar" data-expertise="{{ expertise.name }}" data-level="{{ expertise.level }}"></div>
                    {% capture expertise-bar-levels %}{{ expertise-bar-levels }}.active .expertise-bar[data-expertise="{{ expertise.name }}"]:after{ width: {{ expertise.level }} }{% endcapture %}
                    {% endfor %}
                </div>
                <div id="exp-skills-holder">
                    <h2 class="has-text bold text-xlarge mt-2 mb-2">Skills</h2>
                    <div id="skills">
                        {% for skill in section.skills %}
                        <span class="has-text text-small skill"><mark>{{ skill }}</mark></span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        {{ expertise-bar-levels }}
    </style>
</section>